<div class="intro">
    <h2>Create your profile:</h2>
</div>


<form method="post">
    <div class="age">
        <label for="age">Age: </label>
        <input type="number" name="age" id="age">
    </div>
    <div class="city">
        <label for="city">city: </label>
        <input type="text" name="city" id="city">
    </div>
    <div class="url">
        <label for="homepage">Homepage: </label>
        <input type="text" name="homepage" id="homepage">
    </div>
    
    <div class="nextBtn">
        <input type="submit" value="Next">
    </div>
</form>
