<div class="signers">
    <h2>The total number of people already signed till now is {{totalNum}}</h2>
    {{#allSigners}}
        <ul>
            <li>
                <h1>{{first_name}} {{last_name}}</h1>
            </li>
        </ul>
    {{/allSigners}}
</div>