<div class="thanks">
    <img src="{{sigValue}}">
    <img src="/monkey2.jpg">
    <h1>You have just disappointed a cute robber, <br> but next generations will be grateful for you!</h1>
    <a href="/signers">Signers List</a>
</div>

<form method="post">
    <div class="deleteSignatureBtn">
        <input type="submit" value="Delete Signature">
    </div>
</form>

<div>
        <button id="deleteProfileBtn" type="button"><a href="profile/delete">Delete Profile</a></button>
</div>