body {
    background-color: magenta;
}

.thanks a {
    font-size: 30px;   
    font-weight: bold; 
}

/* .intro img {
    width: 30%;
    height: 30%;
} */

#canv {
    /* position: absolute; */
    background-color:gold ;
    /* z-index: 2; */
    left: 0;
    top: 0;
    /* display: none; */
}
